---
import '@style';
import '@fontsource-variable/inter';
import { SITE_TITLE } from '@consts';

import Tags from '@components/Tags.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{SITE_TITLE}</title>
	</head>
	<body class="bg-white text-black p-6 md:p-12 grid gap-6 md:gap-12">
		<Tags />
		<slot />
	</body>
</html>